div#screen_main {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

 
div.boxButton {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	color: white;
}

div.boxButton:active {
	transform: scale(0.9);
}

div.retro div.boxButton, div.retro_jungle div.boxButton, div.retro_realistic div.boxButton {
  transition: transform 0.4s ease;
}

div.retro div.boxButton:active, div.retro_jungle div.boxButton:active, div.retro_realistic div.boxButton:active {
	transform: scale(0.85);
}

div.boxButton div {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 4vmin;
	font-family: "Consolas", "Roboto", sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;
	cursor: pointer; 
}
 