div#screen_message {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Consolas", "Roboto", sans-serif;
}

div#message_text {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	font-size: 3.8vmin;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;
}

div#message_text pre {
	white-space: pre-line;
}

div.message_button {
	font-size: 3.5vmin;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none;
	cursor: pointer;
	align-self: center;
}